* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  gap: 30px;
  height: 600px;
  width: 320px;
}
.results-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  height: 200px;
  width: 250px;
  border-radius: 20px;
  font-size: 35px;
  background-color: lightgrey;
}

.manipulation-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.calc-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.btn-calc {
  height: 60px;
  width: 60px;
  color: white;
  border: 2px solid rgba(0,0,0,0.2);
  font-weight: bold;
  border-radius: 40px;
  font-size: 20px;
}
.btn-calc.equal {
  width: 126px;
}

.btn-calc.dark-grey {
  background-color: darkgrey;
}

.btn-calc.light-grey {
    background-color: lightgrey;
}

.btn-calc.orange{
    background-color: orange;
}
.
